<!-- <img src=” C:\Users\RAKESH\OneDrive\Desktop.josh” class=” img1”> . -->
<nav class="navbar navbar-expand-lg bg-dark navbar-dark   fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">
          <img
            src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.webp"
            height="30px"
          />
        </a>
    </div>
    <ul class="navbar-nav text-right">
        <!-- <li class = "nav-item">
            <a routerLink="employees" routerLinkActive="active" class="nav-link" >Employee List</a>
        </li>
        <li class = "nav-item">
            <a routerLink="create-employee" routerLinkActive="active" class="nav-link" >Add Employee</a>
        </li> -->
        
        <li class = "nav-item ">
            <a routerLink="home" routerLinkActive="active" class="nav-link" style="text-align: right; line-height: 30px;">Home</a>
        </li>
        <li class = "nav-item">
            <a routerLink="weddings" routerLinkActive="active" class="nav-link" style="text-align: right; line-height: 30px;">weddings</a>
        </li>
        <li class = "nav-item">
            <a routerLink="wallpapers" routerLinkActive="active" class="nav-link" style="text-align: right; line-height: 30px;" >wallpapers</a>
        </li>
        <li class = "nav-item">
            <a routerLink="about-us" routerLinkActive="active" class="nav-link" style="text-align: right; line-height: 30px;">AboutUs</a>
        </li>
        <li class = "nav-item">
            <a routerLink="comntact-us" routerLinkActive="active" class="nav-link" style="text-align: right; line-height: 30px;">ContactUs</a>
        </li>
    </ul>
</nav>

<!-- <h1 class="text-center"> {{title}} </h1> -->
<div class = c-container fluid>
    <router-outlet></router-outlet>
    
</div>

<footer class = "footer ">
    <div class =  c-container breakpoint="sm">
        <span>@ devoloped by joseph</span>
    </div>
</footer>
